<%= title @genre.name %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>

<p>
  <b>Description:</b>
  <%= @genre.description %>
</p>

<%= render 'artists/list', artists: @artists %>
<hr/>
<%= render 'comments/comments', commentable: @genre %>