<%= title @artist.name %>
<div class="well span9">
    <div class="media">
      <%= image_tag @artist.photo.url(:medium), class: 'pull-left media-object' if @artist.photo %>
      <div class="media-body">
        <h4 class="media-heading">
          <%= @artist.name %>
        </h4>
        <strong>Country</strong>: <%= @artist.country %><br />
        <strong>City</strong>: <%= @artist.city %><br />
        <strong>Albums</strong>: <%= @artist.albums.count %><br />
        <strong>Formed</strong>: <%= @artist.formed_date %> <br />
        <strong>Disbanded</strong>: <%= @artist.disbanded_date %> <br />
        <strong>Members</strong>: Group Members (Beta)
      </div>
    </div>
  <br />
  <div id="modal_placeholder"></div>
  <div id="genre_list">
    <%= render 'genres/genres_list', recent_genres: @recent_genres, artist_id: @artist.id %>
  </div>
  <br />
  <%= @artist.description %>
  <br/>

  <div class="page-header">
    <div class="btn-group">
      <%= link_to 'Albums', artist_albums_path(@artist), class: 'btn' %>
      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'Add Album', new_artist_album_path(@artist)  %>
        </li>
      </ul>
    </div>
    <br/>
  </div>
  <ul class="thumbnails">
    <% @recent_albums.each do |album| %>
        <li class="span2" style="height: 172px;">
          <div class="thumbnail">
            <%= link_to artist_album_path(@artist, album) do %>
                <%= image_tag album.cover.url(:small) if album.cover.url(:small) %>
                <%= album.name %>
            <% end %>
          </div>
        </li>
    <% end %>
  </ul>
  <hr/>
  <%= render 'comments/comments', commentable: @artist %>
</div>