<%= form_for(@user, class: 'form-horizontal') do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class='alert alert-error'>
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= image_tag @user.avatar.url(:medium) if @user.avatar? %>
  </div>
  <div class="control-group">
    <%= f.label :avatar, class: 'control-label' %>
    <div class="controls"><%= f.file_field :avatar %></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
