<%= form_for([@artist, @album]) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation" class='alert alert-error'>
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h3><%= pluralize(@album.errors.count, "error") %>:</h3>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :artist_id, params[:artist_id] %>
  <div class="control-group">
    <%= "Artist: #{@artist.name}" %>
  </div>
  <div class="control-group">
    <%= f.label :name, class: 'control-label' %><br />
    <%= f.text_field :name, calss: 'controls' %>
  </div>
    Songs
    <div class="songs_form">
      <%= f.fields_for :songs do |builder| %>
        <%= render 'song_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Add song", f, :songs %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
