<div class="well">
  <h4><%= link_to @album.artist.name, artist_path(@album.artist )%> - <%= @album.name %> (1964)</h4>

  <div class="media">
    <div class="pull-left">
      <%= image_tag @album.cover.url(:medium) %>
    </div>
    <div class="media-body">
      Release date: <%= 2.week.ago %> (Beta)<br />
      Songs count: <%= @album.songs_count %><br />
      Album durability: <%= @album.songs_duration %><br/>

    </div>
  </div>
  <div class="album_songs">
  <% if @album.songs.count > 0 %>
      <%= render 'songs/songs', songs: @album.songs %>
  <% else %>
    There is no songs yet!
  <% end %>
  </div>
</div>



