<div class="well">
  <h4><%= link_to @album.artist.name, artist_path(@album.artist )%> - <%= @album.name %> (1964)</h4>
  <%= image_tag @album.cover.url(:medium) %>
  <% if @album.songs %>
      <table class="table table-stripped">
          <tr>
              <th>Composition</th>
              <th>Durability</th>
          </tr>
          <tr>
            <% @album.songs.each do |song| %>
                <td><%= song.name %></td>
                <td><%= song.durability_in_time %></td>
            <% end %>
          </tr>
      </table>
  <% end %>
</div>



