<div class="post_header">
  <h2><%= link_to post.name, post_path(post) %></h2>
</div>
<div class="media post_content">
  <div class="pull-left">
    <%= image_tag post.photo.url(:medium) if post.photo? %>
  </div>
  <div class="media-body">
    <%= post.content %>

  </div>
  <div class="pull-left">
    <%= link_to 'More', post_path(post), class: 'btn btn-small' %>
  </div>
</div>
<div class="post_footer">
  Author: <%= post.user.user_name %>
</div>