<%= semantic_form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
    <%= f.input :name%>
    <%= f.input :content %>
    <%= f.input :artist_id, as: :select, collection: (Artist.all), prompt: true %>
    <%= f.input :album_id, as: :select, collection: (Album.all), prompt: true %>
    <%= f.button %>
</fieldset>
<% end %>
