<div class="span4 well">
  <h4>Latest reviews</h4>
  <table class="table table-bordered">
  <% @reviews.each do |review| %>

      <tr>
        <td style="width:64px;">
          <%= link_to review_path review do %>
              <% if review.album %>
                  <%= image_tag review.album.cover.url(:thumb) %>
              <% else %>
                  <%= image_tag review.artist.photo.url(:thumb) %>
              <% end %>
          <% end %>
        </td>
        <td>
          <strong><%= link_to review.artist.name, artist_path(review.artist) %></strong><br/>
          <%= link_to review.album.name, artist_album_path(review.artist,review.album) if review.album %><br/>
          <%= link_to review.user.user_name, user_path(review.user)%>
        </td>
      </tr>


  <% end %>
  </table>
</div>