<div class="span9 well">
  <h3><%= @review.name %></h3>
  <%= image_tag @review.album.cover.url(:medium) %>
  <%= @review.content %>
  <div class="well_footer">
    <div class="review_rating">
      Is this review useful?
      <%= link_to '+', '#' %>
      83
      <%= link_to '-', '#' %>
    </div>
    <div class="review_author">
      <%= @review.user.user_name %>
    </div>
  </div>
</div>
