<%= title @review.name %>
<div class="span9 well">
  <div class="page-header"><h3><%= @review.name %></h3></div>
  <div class="media">
    <div class="pull-left">
      <% if @review.album %>
        <%= image_tag @review.album.cover.url(:small) %>
      <% else %>
        <%= image_tag @review.artist.photo.url(:small) %>
      <% end %>
    </div>
    <div class="media-body">
      <%= @review.content %>
    </div>
  </div>
    <%= @title %>
  <hr />
  <div class="well_footer row">
    <div class="review_rating span3">
      <%= rating_readonly(@review.id, @review.rating) %>
    </div>
    <div class="review_author span3">
      <%= link_to @review.user.user_name, user_path(@review.user) %>
    </div>
  </div>
  <hr/>
  <%= render 'comments/comments', commentable: @review %>
</div>
