<div class="span9 well">
  <h3><%= @review.name %></h3>
  <%= image_tag @review.album.cover.url(:medium) %>
  <%= @review.content %>
  <hr />
  <div class="well_footer row">
    <div class="review_rating span3">
      Is this review useful?
      <%= link_to '+', '#' %>
      83
      <%= link_to '-', '#' %>
    </div>
    <div class="review_author span3">
      <%= link_to @review.user.user_name, user_path(@review.user) %>
    </div>
  </div>
</div>
