<div class="span9 well">
  <div class="page-header"><h3><%= @review.name %></h3></div>
  <div class="media">
    <div class="pull-left">
      <% if @review.album %>
        <%= image_tag @review.album.cover.url(:small) %>
      <% else %>
        <%= image_tag @review.artist.photo.url(:small) %>
      <% end %>
    </div>
    <div class="media-body">
      <%= @review.content %>
    </div>
  </div>

  <hr />
  <div class="well_footer row">
    <div class="review_rating span3">
      Is this review useful?
      <%= link_to '+', '#' %>
      83
      <%= link_to '-', '#' %>
    </div>
    <div class="review_author span3">
      <%= link_to @review.user.user_name, user_path(@review.user) %>
    </div>
  </div>
</div>
